<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="../assets/styles/signup.css"> -->

    <title>Registre-se - Perfect Manager</title>

</head>

<body>

    <div class="container">
        <div class="card">
            <div class="img">
                <img class="logo" src="https://refeicaocoletiva.com.br/wp-content/uploads/2021/02/images.jpg">
            </div>
            <div class="form">
                <h2>Registre-se</h2>
                <div class="content-form">
                    <form id="sigupForm">
                        <div class="row">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="user" placeholder="Usuário" required>
                                <label for="user">Usuário</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="name" placeholder="Usuário" required>
                                <label for="name">Nome</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" placeholder="E-mail" required>
                                <label for="user">E-mail</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password" placeholder="Usuário" required>
                                <label for="password">Senha</label>
                            </div>
                            <!-- <input type="text" name="user" id="user" class="form-control" placeholder="Usuário" minlength="4" required> -->
                            <!-- <input type="text" name="name" id="name" placeholder="Nome" minlength="3" required> -->
                            <!-- <input type="email" name="email" id="email" placeholder="E-mail" required> -->
                            <!-- <input type="password" name="password" id="password" placeholder="Senha" minlength="8" required> -->
                        </div>
                        <div class="text-center">
                            <button type="submit" id="btn-submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
                <div class="footer text-center">
                    <a href="/">Já tenho uma conta →</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('../_footer', { script: 'signup' }); %>