body {
    color: #666;
    background-image: linear-gradient( to right top, #f19d9d, #f28f8f, #f28180, #f17272, #f06363);
    height: 100vh;
    width: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 80vh;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 20px;
}

.card {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: #ccc;
    width: 150px;
}

.form {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
}

form input {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    background-color: #e6e6e6;
}

input:focus-visible {
    outline: none;
}

button#btn-submit {
    border: none;
    border-radius: 20px;
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: #ff8f8f;
    transition: transform 0.3s;
}

button#btn-submit:hover {
    background-color: #ff7373;
    cursor: pointer;
    transform: scale(1.1);
}

.footer {
    margin-top: 15px;
}

.footer a {
    color: #666;
    text-decoration: none;
}